*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 120px;
}

nav{
    background-color: rgb(121, 108, 34);
    height: 80px;
    width: 100%;
    position: fixed;
}

label.logo{
    color: white;
    font-size: 55px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    cursor: pointer;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background-color: #f36320;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 953px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100px;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked~ul{
        left: 0;

    }
}

.page{
    display: inline;
    display: flex;
    font-size: xxx-large;
    justify-content: center;
    font-weight: 700;
    color: black;
    padding-top: 8%;
    padding-left: 4%;
    background-image: url(./images/image\ 1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

#order{
    font-size: xx-large;
    font-weight: 400;
    padding-top: 5%;
}

.btn1{
    display: flex;
    flex-direction: row;
    text-align: center;
    min-height: 100vh;
    align-items: baseline;
}

.more{
    width: 200px;
    height: 80px;
    border: none;
    color: white;
    background-color: #f36320;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 rgb(65, 87, 22);
    transition: ease-out 0.3s;
    font-size: 1.6rem;
    outline: none;
    margin-top: 70px;
    font-weight: 600;
}

.more:hover{
    box-shadow: inset 300px 0 0 0 rgb(158, 138, 25);
    cursor: pointer;
    color: #000;
}

body{
    background-size: cover;
    height: 100vh;
    width: 100%;

}

.vendors{
    display: flex;
    flex-direction: row;
    margin-left: 400px;
    margin-right: 400px;
    padding: 3px 2%;
    gap: 100px;
    padding-top: 50px;
    padding-left: 50px;
    font-size: xx-large;
    height: fit-content;
    text-align: center;
    color: rgb(11, 4, 18);
    font-size: x-large;
    padding-bottom: 50px;
    justify-content: center;
    background-color: white;
    border-radius: 100px;
    border: 10%;
    font-weight: 800;
    margin-top: -50px;
    margin-bottom: 120px;
    box-shadow: 5px 5px 5px 5px #000;
}

.exist{
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    padding-top: 0px;
    font-weight: 800;
    font-size: xx-large;
    margin-left: 80px;
    margin-bottom: 50px;
    background-color: rgb(235, 216, 191);
    border-radius: 4.5px;
    border: 8%;
    box-shadow: 10px 10px 10px rgb(112, 70, 15);
}

#built{
    font-weight: 350;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 5px;
}

#we{
    margin-left: 80px;
}

.categories{
    font-size: 3.5rem;
    font-weight: 500;
    color: #000;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    padding-bottom: 1rem;
    position: relative;
    margin-left: 600px;
    text-align: center;
}

.categories::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color:#f36320;
    justify-content: center;
    align-items: center;
    height: 5px;
}

.satisfaction{
    font-size: xx-large;
    padding-top: 45px;
}

#satisfaction{
    text-align: center;
    text-decoration: none;
    text-indent: 30px;
}

.popular{
    font-size: large;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 60px;
    gap: 60px;
}

#kinyanjui{
    margin-top: 10px;
}

#cereals{
    margin-top: 10px;
}

#otieno{
    margin-top: 10px;
}

#njoki{
    margin-top: 10px;
}

.most{
    font-size: xx-large;
    margin-top: 50px;
    margin-left: 8%;
    text-decoration: dotted;
    color: #be5f33;
}

.new{
    font-size: large;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 60px;
    gap: 60px;
}

.newest{
    font-size: xx-large;
    margin-top: 80px;
    margin-left: 8%;
    text-decoration: dotted;
    color: #be5f33;
}

.see{
    width: 200px;
    height: 80px;
    border: none;
    color: white;
    background-color: #f36320;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 rgb(65, 87, 22);
    transition: ease-out 0.3s;
    font-size: 1.6rem;
    outline: none;
    margin-top: 70px;
    font-weight: 600;
    cursor: pointer;
}

.see:hover{
    box-shadow: inset 300px 0 0 0 rgb(158, 138, 25);
    cursor: pointer;
    color: #000;
}

.line{
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color:#f7f4f1;
    justify-content: center;
    align-items: center;
    height: 20px;
    border-radius: 4px;
    margin-top: 10px;
    box-shadow: inset grey 5px 5px 5px 5px;
}

.efficient{
    display: flex;
    flex-direction: row;
    font-size: xx-large;
    font-weight: 500;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.say{
    font-size: xx-large;
    margin-top: 70px;
    margin-bottom: 100px;
    padding-left: 30px;
}

.name{
    display: flex;
    align-items: center;
    gap: 20px;
}

.card {
    box-shadow: grey 2px 2px 2px 2px;
    max-width: 440px;
    padding: 40px;
    margin-bottom: 120px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-title {
    margin-top: 24px;
    margin-bottom: 24px;
}

#card-title-middle {
    margin-bottom: 50px;
}

.star {
    width: 240px;
}

.person-name {
    font-size: 24px;
}

#read{
    width: 200px;
    height: 80px;
    color: white;
    border: none;
    background-color: #f36320;
    border-radius: 4px;
    box-shadow: inset 300px 0 0 0 0 rgb(65, 87, 22);
    transition: ease-out 0.3s;
    font-size: 1.6rem;
    outline: none;
    margin-top: 70px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 100px;
    margin-top: 1px;
    margin-right: 100px;
    float: right;
}

#read:hover{
    box-shadow: inset 300px 0 0 0 rgb(158, 138, 25);
    cursor: pointer;
    color: #000;
}

.subscribe{
    font-weight: 600;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    font-size: xxx-large;
    color: white;
    background-color: black;
    margin-top: 200px;
}

#letter{
    margin-top: 15px;
    font-weight: 400;
}

.email{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: #000;
}

.sub-box{
    padding: 10px;
    border-radius: 10px;
    background:#f7f4f1;

    
}

.sub-box input{
    font-size: xx-large;
    border-radius: 10px;
    color: rgb(24, 22, 22);
    padding: 15px 15px;
    border: none;
    outline: none;
    background: white;

}

.sub-box button{
    color: white;
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: #000;
    cursor: pointer;
    transition: .3s;

}

.sub-box button:hover{
    background: #be5f33;
}