*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 120px;
    background: #18332F;
}

nav{
    background-color: #18332F;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 20;
    padding-left: 5%;
    padding-right: 9%;
    padding-top: 0.5%;
    z-index: 20;
}



label.logo{
    color: #8BA17F;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    cursor: pointer;
}

nav ul{
    float: right;
    margin-right: 20px;
    border-bottom: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 1rem;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    border: none;
    outline: none;
    font-weight: bold;
}

a.active,a:hover{
    transition: .3s;
    border-bottom: #f7f4f1;
    /* outline: #18332F; */
    background: #bdaa3d;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 953px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
       background: #627c62;
        top: 80px;
        left: -100px;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #bdaa3d;
    }
    #check:checked~ul{
        left: 0;

    }
}

.page{
    display: block;
    text-align: start;
    /* display: flex; */
    position: relative;
    font-size: 5rem;
    opacity: 1;
    transform: translate(0px, 0px);
    justify-content: center;
    font-weight: 700;
    color:#8BA17F ;
    padding-top: 6%;
    padding-left: 10%;
    padding-right: 33%;
    /* background-image: url(./images/image\ 1.png); */
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

#order{
    font-size: 2.2rem;
    font-weight: 300;
    padding-top: 5%;
    color: beige;
}

.btn1{
    display: flex;
    flex-direction: row;
    text-align: center;
    min-height: 100vh;
    align-items: baseline;
}

.more{
    width: 200px;
    height: 80px;
    border: none;
    color: white;
    background-color: #bdaa3d;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 rgb(208, 212, 199);
    transition: ease-out 0.3s;
    font-size: 1.6rem;
    outline: none;
    margin-top: 70px;
    font-weight: 600;
}

.more:hover{
    box-shadow: inset 300px 0 0 0 rgb(201, 201, 152);
    cursor: pointer;
    color: #000;
}

body{
    background-size: cover;
    height: 100vh;
    width: 100%;

}

.animation-area{
    background: linear-gradient(to left, #18332F, #53be53);
    width: 100%;
    /* height: 100vh; */
}

.box-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-area li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255,255,255,0.2);
    animation: animate 19s linear infinite;
    bottom: -150px;
}

.box-area li:nth-child(1){
    left: 86%;
    width: 90px;
    height: 90px;
    animation-delay: 0s;
    /* animation-duration: 5s; */
}

.box-area li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 6s;
}

.box-area li:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.box-area li:nth-child(4){
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box-area li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box-area li:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}


@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

/* #vegetables img{
    margin-top: -700px;
    padding-top: -190%;
    z-index: 1;
} */

.vendors{
    display: flex;
    flex-direction: row;
    margin-left: 400px;
    margin-right: 400px;
    padding: 3px 2%;
    gap: 100px;
    padding-top: 50px;
    padding-left: 50px;
    font-size: xx-large;
    height: fit-content;
    text-align: center;
    color: beige;
    font-size: 2rem;
    padding-bottom: 50px;
    justify-content: center;
    background-color: #BDAA3D;
    border-radius: 25px;
    border: 10%;
    font-weight: 800;
    margin-top: -50px;
    margin-bottom: 120px;
    /* box-shadow: 5px 5px 5px 5px #000; */
    box-shadow:
    13.1px 8.2px 1.6px rgba(0, 0, 0, 0.02),
    20.6px 12.9px 3.8px rgba(0, 0, 0, 0.028),
    27.9px 17.4px 7.1px rgba(0, 0, 0, 0.035),
    36.7px 22.9px 12.7px rgba(0, 0, 0, 0.042),
    49.3px 30.7px 23.8px rgba(0, 0, 0, 0.05),
    85px 53px 57px rgba(0, 0, 0, 0.07)
  ;
}



.exist{
    display: flex;
    /* flex-direction: row; */
    margin-right: 50px;
    padding-top: 0px;
    font-weight: 800;
    font-size: xx-large;
    margin-left: 80px;
    margin-bottom: 50px;
    background: #18332F;
    border-radius: 11px;
    border: 12%;
    box-shadow:
    13.1px 8.2px 1.6px rgba(0, 0, 0, 0.02),
    20.6px 12.9px 3.8px rgba(0, 0, 0, 0.028),
    27.9px 17.4px 7.1px rgba(0, 0, 0, 0.035),
    36.7px 22.9px 12.7px rgba(0, 0, 0, 0.042),
    49.3px 30.7px 23.8px rgba(0, 0, 0, 0.05),
    85px 53px 57px rgba(0, 0, 0, 0.07);
    color: #8BA17F;
}



#built{
    font-weight: 350;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 5px;
}

#we{
    margin-left: 80px;
}

.categories{
    font-size: 3.5rem;
    font-weight: 500;
    color: #8BA17F;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    padding-bottom: 1rem;
    position: relative;
    margin-left: 600px;
    text-align: center;
    z-index: 1;
}

.categories::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #bdaa3d;
    justify-content: center;
    align-items: center;
    height: 5px;
}

.satisfaction{
    font-size: xx-large;
    padding-top: 45px;
    color: #8BA17F;
}

#satisfaction{
    text-align: center;
    text-decoration: none;
    text-indent: 30px;
}

.popular{
    font-size: large;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 60px;
    gap: 60px;
    color: #BDAA3D;;
}

.carrots{
    cursor: pointer;
    box-shadow:
  5.6px 3.5px 1.6px rgba(0, 0, 0, 0.035),
  10.7px 6.7px 3.8px rgba(0, 0, 0, 0.049),
  15.6px 9.7px 7.1px rgba(0, 0, 0, 0.057),
  21.4px 13.3px 12.7px rgba(0, 0, 0, 0.062),
  31.6px 19.7px 23.8px rgba(0, 0, 0, 0.067),
  85px 53px 57px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding-left: 2%;
  padding-bottom: 1%;
  transition: 1s;
}

.carrots:hover{
    cursor: pointer;
    transform: scale(1.1) rotate(-0.1deg);
}

.cereals{
    cursor: pointer;
    box-shadow:
  5.6px 3.5px 1.6px rgba(0, 0, 0, 0.035),
  10.7px 6.7px 3.8px rgba(0, 0, 0, 0.049),
  15.6px 9.7px 7.1px rgba(0, 0, 0, 0.057),
  21.4px 13.3px 12.7px rgba(0, 0, 0, 0.062),
  31.6px 19.7px 23.8px rgba(0, 0, 0, 0.067),
  85px 53px 57px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding-left: 2%;
  padding-bottom: 1%;
  transition: 1s;
}

.cereals:hover{
    cursor: pointer;
    transform: scale(1.1) rotate(-0.1deg);
}

.fish{
    cursor: pointer;
    box-shadow:
  5.6px 3.5px 1.6px rgba(0, 0, 0, 0.035),
  10.7px 6.7px 3.8px rgba(0, 0, 0, 0.049),
  15.6px 9.7px 7.1px rgba(0, 0, 0, 0.057),
  21.4px 13.3px 12.7px rgba(0, 0, 0, 0.062),
  31.6px 19.7px 23.8px rgba(0, 0, 0, 0.067),
  85px 53px 57px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding-left: 2%;
  padding-bottom: 1%;
  transition: 1s;
}

.fish:hover{
    cursor: pointer;
    transform: scale(1.1) rotate(-0.1deg);
}

.kales{
    cursor: pointer;
    box-shadow:
  5.6px 3.5px 1.6px rgba(0, 0, 0, 0.035),
  10.7px 6.7px 3.8px rgba(0, 0, 0, 0.049),
  15.6px 9.7px 7.1px rgba(0, 0, 0, 0.057),
  21.4px 13.3px 12.7px rgba(0, 0, 0, 0.062),
  31.6px 19.7px 23.8px rgba(0, 0, 0, 0.067),
  85px 53px 57px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding-left: 2%;
  padding-bottom: 1%;
  transition: 1s;
}

.kales:hover{
    cursor: pointer;
    transform: scale(1.1) rotate(-0.1deg);
}

.poultry{
    cursor: pointer;
    box-shadow:
  5.6px 3.5px 1.6px rgba(0, 0, 0, 0.035),
  10.7px 6.7px 3.8px rgba(0, 0, 0, 0.049),
  15.6px 9.7px 7.1px rgba(0, 0, 0, 0.057),
  21.4px 13.3px 12.7px rgba(0, 0, 0, 0.062),
  31.6px 19.7px 23.8px rgba(0, 0, 0, 0.067),
  85px 53px 57px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding-left: 2%;
  margin-bottom: 0%;
  transition: 1s;
  padding: 0;
  margin: 0;
}

.poultry:hover{
    cursor: pointer;
    transform: scale(1.1) rotate(-0.1deg);
}

.rice{
    cursor: pointer;
    box-shadow:
  5.6px 3.5px 1.6px rgba(0, 0, 0, 0.035),
  10.7px 6.7px 3.8px rgba(0, 0, 0, 0.049),
  15.6px 9.7px 7.1px rgba(0, 0, 0, 0.057),
  21.4px 13.3px 12.7px rgba(0, 0, 0, 0.062),
  31.6px 19.7px 23.8px rgba(0, 0, 0, 0.067),
  85px 53px 57px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding-left: 2%;
  margin-bottom: 0%;
  transition: 1s;
  padding: 0;
  margin: 0;
}

.rice:hover{
    cursor: pointer;
    transform: scale(1.1) rotate(-0.1deg);
}

.milk{
    cursor: pointer;
    box-shadow:
  5.6px 3.5px 1.6px rgba(0, 0, 0, 0.035),
  10.7px 6.7px 3.8px rgba(0, 0, 0, 0.049),
  15.6px 9.7px 7.1px rgba(0, 0, 0, 0.057),
  21.4px 13.3px 12.7px rgba(0, 0, 0, 0.062),
  31.6px 19.7px 23.8px rgba(0, 0, 0, 0.067),
  85px 53px 57px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding-left: 2%;
  margin-bottom: 0%;
  transition: 1s;
  padding: 0;
  margin: 0;
}

.milk:hover{
    cursor: pointer;
    transform: scale(1.1) rotate(-0.1deg);
}

.tomato{
    cursor: pointer;
    box-shadow:
  5.6px 3.5px 1.6px rgba(0, 0, 0, 0.035),
  10.7px 6.7px 3.8px rgba(0, 0, 0, 0.049),
  15.6px 9.7px 7.1px rgba(0, 0, 0, 0.057),
  21.4px 13.3px 12.7px rgba(0, 0, 0, 0.062),
  31.6px 19.7px 23.8px rgba(0, 0, 0, 0.067),
  85px 53px 57px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding-left: 2%;
  margin-bottom: 0%;
  transition: 1s;
  padding: 0;
  margin: 0;
}

.tomato:hover{
    cursor: pointer;
    transform: scale(1.1) rotate(-0.1deg);
}

.card-1{
    background: white;
    padding-bottom: 2%;
}

#kinyanjui{
    margin-top: 10px;
}

#cereals{
    margin-top: 10px;
}

#otieno{
    margin-top: 10px;
}

#njoki{
    margin-top: 10px;
}

.most{
    font-size: xx-large;
    margin-top: 50px;
    margin-left: 8%;
    text-decoration: dotted;
    color: #BDAA3D;
    /* text-decoration: underline 5px #BDAA3D; */
    cursor: pointer;
}

.most:after{
    content: "";
    position: absolute;
    background-color: #BDAA3D;
    height: 5px;
    width: 0;
    /* left: 0;
    bottom: -10px; */
    transition: 0.3s;
    /* cursor: pointer; */
}

.most:hover:after{
    width: 13%;
    /* cursor: pointer; */
}

.new{
    font-size: large;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 60px;
    gap: 60px;
    color: #BDAA3D;;
}

.newest:after{
    content: "";
    position: absolute;
    background-color: #BDAA3D;
    height: 5px;
    width: 0;
    /* left: 0;
    bottom: -10px; */
    transition: 0.3s;
    /* cursor: pointer; */
}

.newest:hover:after{
    width: 13%;
}

.newest{
    font-size: xx-large;
    margin-top: 80px;
    margin-left: 8%;
    color: #BDAA3D;
    cursor: pointer;
}

.see{
    width: 200px;
    height: 80px;
    border: none;
    color: white;
    background-color: #f36320;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 rgb(65, 87, 22);
    transition: ease-out 0.3s;
    font-size: 1.6rem;
    outline: none;
    margin-top: 70px;
    font-weight: 600;
    cursor: pointer;
}

.see:hover{
    box-shadow: inset 300px 0 0 0 rgb(158, 138, 25);
    cursor: pointer;
    color: #000;
}

.line{
    
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color:#f7f4f1;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-top: 2px;
    box-shadow: grey 5px 5px 5px ;
    
}

.efficient{
    display: flex;
    flex-direction: row;
    font-size: xx-large;
    font-weight: 500;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.say{
    font-size: xx-large;
    margin-top: 70px;
    margin-bottom: 100px;
    padding-left: 30px;
}

.name{
    display: flex;
    align-items: center;
    gap: 20px;
}

.card {
    box-shadow: grey 2px 2px 2px 2px;
    max-width: 440px;
    padding: 40px;
    margin-bottom: 120px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.card-title {
    margin-top: 24px;
    margin-bottom: 24px;
}

#card-title-middle {
    margin-bottom: 50px;
}

.star {
    width: 240px;
}

.person-name {
    font-size: 24px;
}

#read{
    width: 200px;
    height: 80px;
    color: white;
    border: none;
    background-color: #f36320;
    border-radius: 4px;
    box-shadow: inset 300px 0 0 0 0 rgb(65, 87, 22);
    transition: ease-out 0.3s;
    font-size: 1.6rem;
    outline: none;
    margin-top: 70px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 100px;
    margin-top: 1px;
    margin-right: 100px;
    float: right;
}

#read:hover{
    box-shadow: inset 300px 0 0 0 rgb(158, 138, 25);
    cursor: pointer;
    color: #000;
}

.subscribe{
    font-weight: 600;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    font-size: xxx-large;
    color: white;
    background-color: black;
    margin-top: 200px;
}

#letter{
    margin-top: 15px;
    font-weight: 400;
}

.email{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: #000;
}

.sub-box{
    padding: 10px;
    border-radius: 10px;
    background:#f7f4f1;

    
}

.sub-box input{
    font-size: xx-large;
    border-radius: 10px;
    color: rgb(24, 22, 22);
    border: none;
    outline: none;
    background: white;


}

.sub-box button{
    color: white;
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    background: #000;
    cursor: pointer;
    transition: .3s;

}

.sub-box button:hover{
    background: #be5f33;
}

.fa {
    padding: 20px;
}

.social{
    font-weight: 600;
    font-size: xxx-large;
    color: white;
    margin-bottom: 20px;
    background-color: #000;
}

.fa{
    display: inline-block;
    height: 70px;
    width: 70px;
    margin: 0 5px;
    background: #ffff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
    size: 100px;
    margin-top: 20px;
    margin-left: 50px;
    padding-top: 9px;
    padding-left: 15.5px;
    margin-bottom: 50px;
}

.fa.button:hover{
    width: 200px;

}

.fa.button.icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    text-size-adjust: 100px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 50px;
}

.agri-plus{
    font-size: xx-large;
    color: white;
    background-color: #000;
    font-weight: 400;
    padding-top: 50px;
    
    flex-direction: column;
}

#agri{
    margin-left: 30px;
}

#quality{
    margin-left: 30px;
}


.footer{
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    color: white;
    background: #000;
    margin-top: 1px;
    margin-top: -30px;
    padding-top: 50px;
    font-size: xx-large;
    padding-bottom: 100px;
}

#otherbtn{
    width: 200px;
    height: 80px;
    color: white;
    border: none;
    background-color: #776228;
    border-radius: 4px;
    box-shadow: inset 300px 0 0 0 0 rgb(65, 87, 22);
    transition: ease-out 0.3s;
    font-size: 1.6rem;
    outline: none;
    margin-top: 70px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 1px;
    margin-right: 100px;

}

#otherbtn:hover{
    box-shadow: inset 300px 0 0 0  #f36320;
    cursor: pointer;
    color: #000;
}

footer{
    color: white;
    background-color: #000;
    font-weight: 100;
}

.foo-ter{
    text-align: center;
    font-size: x-large;
    padding-bottom: 100px;
}