*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 120px;
    background-color: #18332F;
}

nav{
    background-color: #18332F;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 20;
    padding-left: 5%;
    padding-right: 9%;
    padding-top: 0.5%;
    z-index: 20;
    margin-top: -80px;
}


label.logo{
    color: #8BA17F;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    cursor: pointer;
}

nav ul{
    float: right;
    margin-right: 20px;
    border-bottom: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 1rem;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    border: none;
    outline: none;
    font-weight: bold;
}

a.active,a:hover{
    transition: .3s;
    border-bottom: #f7f4f1;
    /* outline: #18332F; */
    background: #bdaa3d;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.efficient{
    display: flex;
    flex-direction: row;
    font-size: xx-large;
    font-weight: 500;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: -50px;
}

.say{
    font-size: xx-large;
    margin-top: 70px;
    margin-bottom: 100px;
    padding-left: 30px;
    color: #8BA17F;
}

.name{
    display: flex;
    align-items: center;
    gap: 20px;
}

.card {
    box-shadow:
    5.6px 3.5px 1.6px rgba(0, 0, 0, 0.035),
    10.7px 6.7px 3.8px rgba(0, 0, 0, 0.049),
    15.6px 9.7px 7.1px rgba(0, 0, 0, 0.057),
    21.4px 13.3px 12.7px rgba(0, 0, 0, 0.062),
    31.6px 19.7px 23.8px rgba(0, 0, 0, 0.067),
    85px 53px 57px rgba(0, 0, 0, 0.07);
    max-width: 440px;
    padding: 40px;
    margin-bottom: 120px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.2) rotate(-0.1deg);
    transition: 1s;
}

.card-title {
    margin-top: 24px;
    margin-bottom: 24px;
    color: rgb(195, 195, 154);
    font-size: 32px;
}

#card-title-middle {
    margin-bottom: 50px;
}

.star {
    width: 240px;
}

.person-name {
    font-size: 20px;
    color: white;
}

#read{
    width: 200px;
    height: 80px;
    color: white;
    border: none;
    /* background-color: #f36320;
    border-radius: 4px;
    box-shadow: inset 300px 0 0 0 0 rgb(65, 87, 22); */
    background-color: #bdaa3d;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 rgb(208, 212, 199);
    transition: ease-out 0.3s;
    font-size: 1.6rem;
    outline: none;
    margin-top: 70px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 100px;
    margin-top: 1px;
    margin-right: 100px;
    float: right;
}

#read:hover{
    /* box-shadow: inset 300px 0 0 0 rgb(158, 138, 25);
    cursor: pointer;
    color: #000; */
    box-shadow: inset 300px 0 0 0 rgb(201, 201, 152);
    cursor: pointer;
    color: #000;

}

