*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 120px;
    background: #18332F;
}

nav{
    background-color: #18332F;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 20;
    padding-left: 5%;
    padding-right: 9%;
    padding-top: 0.5%;
    z-index: 20;
}



label.logo{
    color: #8BA17F;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    cursor: pointer;
}

nav ul{
    float: right;
    margin-right: 20px;
    border-bottom: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 1rem;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    border: none;
    outline: none;
    font-weight: bold;
}

a.active,a:hover{
    transition: .3s;
    border-bottom: #f7f4f1;
    /* outline: #18332F; */
    background: #bdaa3d;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.categories{
    font-size: 3.5rem;
    font-weight: 500;
    color: #8BA17F;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    padding-bottom: 1rem;
    position: relative;
    margin-left: 600px;
    text-align: center;
    z-index: 1;
}

.categories::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #bdaa3d;
    justify-content: center;
    align-items: center;
    height: 5px;
}

.satisfaction{
    font-size: xx-large;
    padding-top: 45px;
    color: #8BA17F;
}

#satisfaction{
    text-align: center;
    text-decoration: none;
    text-indent: 30px;
}

.popular{
    font-size: large;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 60px;
    gap: 60px;
    color: #BDAA3D;;
}

.carrots{
    cursor: pointer;
    box-shadow:
  5.6px 3.5px 1.6px rgba(0, 0, 0, 0.035),
  10.7px 6.7px 3.8px rgba(0, 0, 0, 0.049),
  15.6px 9.7px 7.1px rgba(0, 0, 0, 0.057),
  21.4px 13.3px 12.7px rgba(0, 0, 0, 0.062),
  31.6px 19.7px 23.8px rgba(0, 0, 0, 0.067),
  85px 53px 57px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding-left: 2%;
  padding-bottom: 1%;
  transition: 1s;
}

.carrots:hover{
    cursor: pointer;
    transform: scale(1.1) rotate(-0.1deg);
}

.cereals{
    cursor: pointer;
    box-shadow:
  5.6px 3.5px 1.6px rgba(0, 0, 0, 0.035),
  10.7px 6.7px 3.8px rgba(0, 0, 0, 0.049),
  15.6px 9.7px 7.1px rgba(0, 0, 0, 0.057),
  21.4px 13.3px 12.7px rgba(0, 0, 0, 0.062),
  31.6px 19.7px 23.8px rgba(0, 0, 0, 0.067),
  85px 53px 57px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding-left: 2%;
  padding-bottom: 1%;
  transition: 1s;
}

.cereals:hover{
    cursor: pointer;
    transform: scale(1.1) rotate(-0.1deg);
}

.fish{
    cursor: pointer;
    box-shadow:
  5.6px 3.5px 1.6px rgba(0, 0, 0, 0.035),
  10.7px 6.7px 3.8px rgba(0, 0, 0, 0.049),
  15.6px 9.7px 7.1px rgba(0, 0, 0, 0.057),
  21.4px 13.3px 12.7px rgba(0, 0, 0, 0.062),
  31.6px 19.7px 23.8px rgba(0, 0, 0, 0.067),
  85px 53px 57px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding-left: 2%;
  padding-bottom: 1%;
  transition: 1s;
}

.fish:hover{
    cursor: pointer;
    transform: scale(1.1) rotate(-0.1deg);
}

.kales{
    cursor: pointer;
    box-shadow:
  5.6px 3.5px 1.6px rgba(0, 0, 0, 0.035),
  10.7px 6.7px 3.8px rgba(0, 0, 0, 0.049),
  15.6px 9.7px 7.1px rgba(0, 0, 0, 0.057),
  21.4px 13.3px 12.7px rgba(0, 0, 0, 0.062),
  31.6px 19.7px 23.8px rgba(0, 0, 0, 0.067),
  85px 53px 57px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding-left: 2%;
  padding-bottom: 1%;
  transition: 1s;
}

.kales:hover{
    cursor: pointer;
    transform: scale(1.1) rotate(-0.1deg);
}

.poultry{
    cursor: pointer;
    box-shadow:
  5.6px 3.5px 1.6px rgba(0, 0, 0, 0.035),
  10.7px 6.7px 3.8px rgba(0, 0, 0, 0.049),
  15.6px 9.7px 7.1px rgba(0, 0, 0, 0.057),
  21.4px 13.3px 12.7px rgba(0, 0, 0, 0.062),
  31.6px 19.7px 23.8px rgba(0, 0, 0, 0.067),
  85px 53px 57px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding-left: 2%;
  margin-bottom: 0%;
  transition: 1s;
  padding: 0;
  margin: 0;
}

.poultry:hover{
    cursor: pointer;
    transform: scale(1.1) rotate(-0.1deg);
}

.rice{
    cursor: pointer;
    box-shadow:
  5.6px 3.5px 1.6px rgba(0, 0, 0, 0.035),
  10.7px 6.7px 3.8px rgba(0, 0, 0, 0.049),
  15.6px 9.7px 7.1px rgba(0, 0, 0, 0.057),
  21.4px 13.3px 12.7px rgba(0, 0, 0, 0.062),
  31.6px 19.7px 23.8px rgba(0, 0, 0, 0.067),
  85px 53px 57px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding-left: 2%;
  margin-bottom: 0%;
  transition: 1s;
  padding: 0;
  margin: 0;
}

.rice:hover{
    cursor: pointer;
    transform: scale(1.1) rotate(-0.1deg);
}

.milk{
    cursor: pointer;
    box-shadow:
  5.6px 3.5px 1.6px rgba(0, 0, 0, 0.035),
  10.7px 6.7px 3.8px rgba(0, 0, 0, 0.049),
  15.6px 9.7px 7.1px rgba(0, 0, 0, 0.057),
  21.4px 13.3px 12.7px rgba(0, 0, 0, 0.062),
  31.6px 19.7px 23.8px rgba(0, 0, 0, 0.067),
  85px 53px 57px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding-left: 2%;
  margin-bottom: 0%;
  transition: 1s;
  padding: 0;
  margin: 0;
}

.milk:hover{
    cursor: pointer;
    transform: scale(1.1) rotate(-0.1deg);
}

.tomato{
    cursor: pointer;
    box-shadow:
  5.6px 3.5px 1.6px rgba(0, 0, 0, 0.035),
  10.7px 6.7px 3.8px rgba(0, 0, 0, 0.049),
  15.6px 9.7px 7.1px rgba(0, 0, 0, 0.057),
  21.4px 13.3px 12.7px rgba(0, 0, 0, 0.062),
  31.6px 19.7px 23.8px rgba(0, 0, 0, 0.067),
  85px 53px 57px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding-left: 2%;
  margin-bottom: 0%;
  transition: 1s;
  padding: 0;
  margin: 0;
}

.tomato:hover{
    cursor: pointer;
    transform: scale(1.1) rotate(-0.1deg);
}

.card-1{
    background: white;
    padding-bottom: 2%;
}

#kinyanjui{
    margin-top: 10px;
}

#cereals{
    margin-top: 10px;
}

#otieno{
    margin-top: 10px;
}

#njoki{
    margin-top: 10px;
}

.most{
    font-size: xx-large;
    margin-top: 50px;
    margin-left: 8%;
    text-decoration: dotted;
    color: #BDAA3D;
    /* text-decoration: underline 5px #BDAA3D; */
    cursor: pointer;
}

.most:after{
    content: "";
    position: absolute;
    background-color: #BDAA3D;
    height: 5px;
    width: 0;
    /* left: 0;
    bottom: -10px; */
    transition: 0.3s;
    /* cursor: pointer; */
}

.most:hover:after{
    width: 13%;
    /* cursor: pointer; */
}

.new{
    font-size: large;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 60px;
    gap: 60px;
    color: #BDAA3D;;
}

.newest:after{
    content: "";
    position: absolute;
    background-color: #BDAA3D;
    height: 5px;
    width: 0;
    /* left: 0;
    bottom: -10px; */
    transition: 0.3s;
    /* cursor: pointer; */
}

.newest:hover:after{
    width: 13%;
}

.newest{
    font-size: xx-large;
    margin-top: 80px;
    margin-left: 8%;
    color: #BDAA3D;
    cursor: pointer;
}